Repository eradiate/eradiate: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-lock, readme-pypi

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.10
    # Important: If the version changes, do not forget to sync it with the
    # linting CI workflow
    hooks:
      - id: ruff  # linter
        types_or: [ python, pyi, jupyter ]
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
  - repo: local
    hooks:
      - id: docs-lock
        name: Lock Pip requirements for RTD build
        entry: pixi run -e dev --no-progress --quiet docs-lock
        files: pixi.lock
        pass_filenames: false
        language: system
      - id: readme-pypi
        name: Update README for PyPI entries
        entry: python resources/release.py update-pypi-readme
        files: README.md
        pass_filenames: false
        language: system

Reqs: Update lock files
  docs/requirements.txt
  pixi.lock
Due: docs-lock

Docs: Fix typos
  docs/release_notes/v1.1.x.md
Due: none

Docs: Minor fix to release instructions
  docs/maintainer_guide.rst
Due: none

Docs: Update change log
  docs/release_notes/v1.1.x.md
Due: none

Bump required Eradiate kernel version
  src/eradiate/kernel/_versions.py
Due: none

spectral.response: Transfer make_gaussian() to BandSRF.gaussian()
  src/eradiate/spectral/response.py
  tests/01_unit/spectral/test_response.py
Due: none

Experiment: Fix multi-measure setup with different SRFs
  src/eradiate/contexts.py
  src/eradiate/experiments/_core.py
  src/eradiate/kernel/_render.py
  tests/01_unit/experiments/test_core.py
  tests/01_unit/kernel/test_render.py
Due: none

BandSRF: Add a name property and xarray export
  src/eradiate/spectral/response.py
  tests/01_unit/spectral/test_response.py
Due: none

Update all code to use the new-style Pinttrs interface
  src/eradiate/_factory.py
  src/eradiate/experiments/_core.py
  src/eradiate/radprops/_core.py
  src/eradiate/scenes/atmosphere/_particle_layer.py
  src/eradiate/scenes/biosphere/_core.py
  src/eradiate/scenes/biosphere/_discrete.py
  src/eradiate/scenes/biosphere/_leaf_cloud.py
  src/eradiate/scenes/biosphere/_tree.py
  src/eradiate/scenes/bsdfs/_rtls.py
  src/eradiate/scenes/core.py
  src/eradiate/scenes/geometry.py
  src/eradiate/scenes/illumination/_astro_object.py
  src/eradiate/scenes/illumination/_spot.py
  src/eradiate/scenes/measure/_distant.py
  src/eradiate/scenes/measure/_hemispherical_distant.py
  src/eradiate/scenes/measure/_multi_distant.py
  src/eradiate/scenes/measure/_multi_radiancemeter.py
  src/eradiate/scenes/measure/_perspective.py
  src/eradiate/scenes/measure/_radiancemeter.py
  src/eradiate/scenes/shapes/_buffermesh.py
  src/eradiate/scenes/shapes/_cuboid.py
  src/eradiate/scenes/shapes/_rectangle.py
  src/eradiate/scenes/shapes/_sphere.py
  src/eradiate/scenes/spectra/_interpolated.py
  src/eradiate/scenes/spectra/_uniform.py
  src/eradiate/scenes/surface/_central_patch.py
  src/eradiate/spectral/index.py
  src/eradiate/spectral/response.py
  src/eradiate/units.py
Due: none

Add description of govaerts* aerosol models
  docs/_generate/data/aerosols_particles.py
  docs/_generate/templates/aerosols_particles.rst
  docs/data/aerosols_particles.rst
Due: none

Tests: Refactor SRF tests
  tests/01_unit/spectral/test_response.py
Due: none

Reqs: Relax kernel version requirements
  pixi.lock
  pyproject.toml
Due: docs-lock

BandSRF: Add central wavelength computation
  src/eradiate/spectral/response.py
  tests/01_unit/spectral/test_response.py
Due: none

Reqs: Bump required kernel version and update lock file
  docs/requirements.txt
  pixi.lock
  pyproject.toml
  src/eradiate/kernel/_versions.py
Due: docs-lock

Bump Mitsuba and Python requirements, add Python 3.13 environment
  docs/requirements.txt
  pixi.lock
  pyproject.toml
Due: docs-lock

pipelines: Attach SRF central wavelength to SRF-weighted variables as metadata
  docs/release_notes/v1.1.x.md
  src/eradiate/pipelines/logic.py
  tests/01_unit/pipelines/test_logic.py
Due: none

Docs: Update list of dependencies
  docs/dependencies.rst
Due: none

Update release.py to parse and check a more general version specifier
  resources/release.py
Due: none

Bump version to v1.1.0
  .bumpversion.toml
  CITATION.cff
  docs/requirements.txt
  pixi.lock
  pyproject.toml
Due: docs-lock

Docs: Fix aerosol data page where 'None' would be printed if no description is defined
  docs/_generate/templates/aerosols_particles.rst
  docs/data/aerosols_particles.rst
Due: none

Docs: Minor updates to release notes
  docs/release_notes/v1.1.x.md
Due: none

Docs: Minor update to README
  README.md
  resources/README_PyPI.md
Due: readme-pypi

Bump version to v1.2.0-dev0
  .bumpversion.toml
  docs/requirements.txt
  pixi.lock
  pyproject.toml
Due: docs-lock

cli: Use rich.table to display CLI information
  src/eradiate/cli/_console.py
  src/eradiate/cli/data.py
  src/eradiate/cli/sys_info.py
  src/eradiate/util/sys_info.py
Due: none

Docs: Minor fix to release notes
  docs/release_notes/v1.0.x.md
  docs/release_notes/v1.1.x.md
Due: none

Docs: Add release notes for v1.2.x
  docs/release_notes/index.md
  docs/release_notes/v1.2.x.md
Due: none

Add missing bytes-to-str conversion on macOS
  src/eradiate/util/sys_info.py
Due: none

tests: Add more mode fixtures
  tests/conftest.py
Due: none

MolecularAtmosphere: Issue a comprehensive error message when absorption database cannot be open
  docs/release_notes/v1.2.x.md
  src/eradiate/converters.py
  tests/01_unit/scenes/atmosphere/test_molecular_atmosphere.py
  tests/01_unit/test_converters.py
Due: none

wip: Add single-wavelength support
  src/eradiate/radprops/_particles.py
  tests/01_unit/radprops/test_particles.py
Due: none

Fix error message in is_positive() validator
  src/eradiate/validators.py
Due: none

wip
  playgrounds/20260318_aerosol_data_format/scratch.ipynb
Due: none
